#include <zephyr/dt-bindings/led/led.h>

/*
&spi3 {
    status = "okay";
   
    led_strip: ws2812_shield@0 {
        reg = <0>;
        compatible = "worldsemi,ws2812-spi";
        status = "okay";
        chain-length = <9>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        spi-max-frequency = <4000000>;
    };

};

&spi3_default {
    group1 {
        psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
                <NRF_PSEL(SPIM_MISO, 1, 14)>,
                <NRF_PSEL(SPIM_MOSI, 1, 8)>;
    };
};
 */

&i2s0 {
    status = "okay";
    pinctrl-0=<&i2s0_default>;
    pinctrl-names = "default";
    // clock-source = "PCLK32M";

    led_strip: ws2812_shield@0 {
        reg = <0>;
        compatible = "worldsemi,ws2812-i2s";
        status = "okay";
		i2s-dev = < &i2s0 >;
        chain-length = <9>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
		reset-delay = <120>;
    };
};

&pinctrl {
    i2s0_default: i2s0_default {
        group1 {
            psels = <NRF_PSEL(I2S_SCK_M, 1, 13)>,
                    <NRF_PSEL(I2S_LRCK_M, 1, 12)>,
                    <NRF_PSEL(I2S_SDOUT, 1, 8)>,
                    <NRF_PSEL(I2S_SDIN, 1, 11)>;
        };
    };   
};

/ {
    aliases {
        /delete-property/ sw0;
        /delete-property/ mcuboot-button0;
    };
};

/delete-node/ &button0;

